<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../arquivos/styleHome.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Caixa de Entrada</title>
</head>
<body>
        <div class="col-md-9">
            <div class="content" id="content">
                <h2>Caixa de Entrada</h2>
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>idEmail</th>
                            <th>Remetente</th>
                            <th>Assunto</th>
                            <th></th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        <% for (const email of cxEntrada) { %>
                            <tr>
                            <td><%= email.idEmail %></td>
                            <td><%= email.remetente %></td>
                            <td><%= email.assunto %></td>
                            <td><a href="/exibicao/<%= email.idEmail %>">Ver mais...</a></td>
                        </tr>
                        <% } %>   
                    </tbody>
                  
                </table>
            </div>
                    
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
